body {
  background-color: skyblue;
}

.container {
  background-color: rgb(23, 23, 118);
  width: 300px;
  /* margin-top: 100px;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto; */
  margin: 100px auto;
  border-radius: 5px;
  padding: 20px;
  
}

.box{
  width: 200px;
  height: 100px;
  background-color: pink;
  border-radius: 5px;
  border: 2px solid skyblue;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;

}